.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10rem;
  transition: padding-left 0.2s ease-out;
}

.navbar.expanded + .loader {
  padding-left: 35rem;
}

.loader__box {
  height: 100px;
  width: 100px;

  /* background-color: gray; */
  /* background-color: green; */
  border-radius: 50%;
  border: 16px solid gray;
  border-top: 16px solid var(--color-special);
  margin-bottom: 2rem;
  animation: spin 1.5s linear infinite;
}

.loader__text {
  font-size: 1.4rem;
  color: var(--color-light);
  font-weight: bold;
  /* background-color: gray; */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.loader__dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--color-light);
  border-radius: 50%;
  margin: 0 0.2rem;
  animation: toggleVisibility 3s linear infinite;
}

.loader__dot:nth-of-type(2) {
  animation-delay: 0.5s;
  /* background-color: green; */
}

.loader__dot:nth-of-type(3) {
  animation-delay: 1s;
  /* background-color: green; */
}



@keyframes toggleVisibility {
  0% {
    opacity: 100%;
  }

  10% {
    opacity: 0%;
  }

  20% {
    opacity: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}